<!DOCTYPE html>
<html>
<head>
  <title>Lectron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= show_update_user_profile %>

<%= yield %>

</body>
</html>
